*.asv
.venv
.vscode
*.xlsx
LLR/*
Vote/*
LLRVote/*
LLRMultVote/*
LLRMultVoteMultNaive/*
LLRVoteRange/*
InvVoteMultRcvd/*
LLRInvVote/*
Naive/*
NaiveMultVote/*
NaiveVote/*
NaiveSyndrome/*

Python/models/*
*.pyc
__pychace__
